#u275-4
{
	font-family: josefin-sans-n1, sans-serif;
}

#u277-4
{
	font-family: josefin-sans-n3, sans-serif;
}

#u91-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u157-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u155-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u159-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u161-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u279-20,#u281-6
{
	font-family: josefin-sans-n4, sans-serif;
}

