#u275-4
{
	font-family: josefin-sans-n1, sans-serif;
}

#u277-4
{
	font-family: josefin-sans-n3, sans-serif;
}

#u91-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u157-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u155-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u159-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u161-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u352-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u353-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u357-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u355-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u358,#u364,#u359,#u361-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u362-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#widgetu350_input,#widgetu350_prompt,#widgetu354_input,#widgetu354_prompt,#widgetu360_input,#widgetu360_prompt
{
	font-family: josefin-sans, sans-serif;
}

