#u272
{
	border-color: #000000;
	background-color: #252525;
}

#u275-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 75px;
	line-height: 90px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 100;
	position: relative;
}

#u277-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u87
{
	border-color: #000000;
	background-color: #35AAE7;
}

#u272_align_to_page,#u87_align_to_page
{
	position: relative;
}

#buttonu90
{
	border-color: #787878;
	background-color: transparent;
	position: relative;
}

#buttonu90:hover
{
	background-color: #252525;
}

#buttonu90:active
{
	background-color: #000000;
}

#u91-4
{
	background-color: transparent;
	font-size: 21px;
	color: #252525;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu90:hover #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu90:active #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu156
{
	border-color: #787878;
	background-color: transparent;
	position: relative;
}

#buttonu156:hover
{
	background-color: #252525;
}

#buttonu156:active
{
	background-color: #000000;
}

#u157-4
{
	background-color: transparent;
	font-size: 21px;
	color: #252525;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu156:hover #u157-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu156:active #u157-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu154
{
	border-color: #787878;
	background-color: transparent;
	position: relative;
}

#buttonu154:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #252525;
}

#buttonu154:active
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#buttonu154.ButtonSelected
{
	border-color: #787878;
	background-color: #7AC3E2;
}

#u155-4
{
	background-color: transparent;
	font-size: 21px;
	color: #252525;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu154:hover #u155-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu154:active #u155-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu158
{
	border-color: #787878;
	background-color: transparent;
	position: relative;
}

#buttonu158:hover
{
	background-color: #252525;
}

#buttonu158:active
{
	background-color: #000000;
}

#u159-4
{
	background-color: transparent;
	font-size: 21px;
	color: #252525;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu158:hover #u159-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu158:active #u159-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu160
{
	border-color: #787878;
	background-color: transparent;
	position: relative;
}

#buttonu160:hover
{
	background-color: #252525;
}

#buttonu160:active
{
	background-color: #000000;
}

#buttonu90.ButtonSelected,#buttonu156.ButtonSelected,#buttonu158.ButtonSelected,#buttonu160.ButtonSelected
{
	background-color: #7AC3E2;
}

#u161-4
{
	background-color: transparent;
	font-size: 21px;
	color: #252525;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu160:hover #u161-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu160:active #u161-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu90.ButtonSelected #u91-4 p,#buttonu156.ButtonSelected #u157-4 p,#buttonu154.ButtonSelected #u155-4 p,#buttonu158.ButtonSelected #u159-4 p,#buttonu160.ButtonSelected #u161-4 p
{
	color: #252525;
	visibility: inherit;
}

#u282
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

