#u79-4
{
	background-color: transparent;
	line-height: 73px;
	font-size: 61px;
	color: #FFFFFF;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u75
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#buttonu81
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu81:hover
{
	background-color: #191919;
}

#buttonu81:active
{
	background-color: #000000;
}

#u86-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu81:hover #u86-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu81:active #u86-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu90
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu90:hover
{
	background-color: #191919;
}

#buttonu90:active
{
	background-color: #000000;
}

#u91-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu81.ButtonSelected #u86-4 p,#buttonu90:hover #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu90:active #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu95
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu95:hover
{
	background-color: #191919;
}

#buttonu95:active
{
	background-color: #000000;
}

#u96-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu90.ButtonSelected #u91-4 p,#buttonu95:hover #u96-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu95:active #u96-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu97
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu97:hover
{
	background-color: #191919;
}

#buttonu97:active
{
	background-color: #000000;
}

#buttonu81.ButtonSelected,#buttonu90.ButtonSelected,#buttonu95.ButtonSelected,#buttonu97.ButtonSelected
{
	background-color: #C84B4B;
}

#u98-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu95.ButtonSelected #u96-4 p,#buttonu97:hover #u98-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu97:active #u98-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu97.ButtonSelected #u98-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u162,#u77
{
	border-color: #000000;
	background-color: #191919;
}

#u162_align_to_page,#u75_align_to_page,#u77_align_to_page
{
	position: relative;
}

#u171
{
	border-color: #000000;
	background-color: #191919;
	position: fixed;
}

#u123-4
{
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

