#u197-4
{
	background-color: transparent;
	line-height: 73px;
	font-size: 61px;
	color: #191919;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#buttonu192
{
	border-color: #787878;
	background-color: #191919;
	position: relative;
}

#buttonu192:hover
{
	background-color: #FFFFFF;
}

#buttonu192:active
{
	background-color: #000000;
}

#u193-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu192:hover #u193-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu192:active #u193-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu201
{
	border-color: #787878;
	background-color: #C84B4B;
	position: relative;
}

#buttonu201:hover
{
	background-color: #191919;
}

#buttonu201:active
{
	background-color: #000000;
}

#u202-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu192.ButtonSelected #u193-4 p,#buttonu201:hover #u202-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu201:active #u202-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu198
{
	border-color: #787878;
	background-color: #191919;
	position: relative;
}

#buttonu198:hover
{
	background-color: #FFFFFF;
}

#buttonu198:active
{
	background-color: #000000;
}

#u199-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu198:hover #u199-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu198:active #u199-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu190
{
	border-color: #787878;
	background-color: #191919;
	position: relative;
}

#buttonu190:hover
{
	background-color: #FFFFFF;
}

#buttonu190:active
{
	background-color: #000000;
}

#u191-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu190:hover #u191-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu190:active #u191-4 p
{
	color: #191919;
	visibility: inherit;
}

#u200,#u223
{
	border-color: #000000;
	background-color: #191919;
}

#buttonu221
{
	border-color: #787878;
	background-color: #191919;
	position: relative;
}

#buttonu221:hover
{
	background-color: #FFFFFF;
}

#buttonu221:active
{
	background-color: #000000;
}

#u222-4
{
	background-color: transparent;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu221:hover #u222-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu221:active #u222-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu224
{
	border-color: #787878;
	background-color: #191919;
	position: relative;
}

#buttonu224:hover
{
	background-color: #FFFFFF;
}

#buttonu224:active
{
	background-color: #000000;
}

#buttonu192.ButtonSelected,#buttonu201.ButtonSelected,#buttonu198.ButtonSelected,#buttonu190.ButtonSelected,#buttonu221.ButtonSelected,#buttonu224.ButtonSelected
{
	background-color: #C84B4B;
}

#u225-4
{
	background-color: transparent;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu224:hover #u225-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu224:active #u225-4 p
{
	color: #191919;
	visibility: inherit;
}

#buttonu201.ButtonSelected #u202-4 p,#buttonu198.ButtonSelected #u199-4 p,#buttonu190.ButtonSelected #u191-4 p,#buttonu221.ButtonSelected #u222-4 p,#buttonu224.ButtonSelected #u225-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u189,#u194
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#u189_align_to_page,#u200_align_to_page,#u223_align_to_page,#u194_align_to_page
{
	position: relative;
}

#u195
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u196-4
{
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #191919;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

