#u193-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u202-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u199-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u191-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u222-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u225-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u197-4,#u196-4
{
	font-family: josefin-sans-n3, sans-serif;
}

#u133-4
{
	font-family: josefin-sans-n3, sans-serif;
}

