#u86-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u91-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u96-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u98-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u79-4,#u123-4
{
	font-family: josefin-sans-n3, sans-serif;
}

